# Cloudflare tunnel executable
cloudflared*
*.exe

# Large trained model files
*.keras
*.pkl
*.h5

# Python cache
__pycache__/
*.py[codz]

# Environment variables
.env
.envrc

# Jupyter temporary files
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Temporary files
tempCodeRunnerFile.py
